.navbar{
    padding:15px 0;
    transition:all .3s ease;
}

.navbar-brand{
    font-size:28px;
    font-weight:700;
}

.navbar-brand img{
    width:40px;
}

.nav-link{
    color:white !important;
    margin-left:15px;
    transition:.3s;
    font-weight:500;
}

.nav-link:hover{
    color:#ffc107 !important;
}

.navbar form input{
    border-radius:30px;
    padding:10px 15px;
}

.navbar form button{
    border-radius:30px;
    padding:10px 20px;
}

.navbar.shadow{
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}